#profile {

}

#pf-info {
    
}

#pf-friends {
    
}

#pf-friendrequests {
    
}

.pf-title {
    
}

/* generic avatar grid-layout */

.avatar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.avatar {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.avatar > div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #505050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar > div > img {
    
}

.avatar > p {
    
}

.avatar > a {
    position: absolute;
    top: 5px;
    right: 5px;
}

a.avatar {
   text-decoration: none; 
}

