#spotYaButton {
  width: 124px;
  height: 40px;
  background-color: var(--purple);
  border: none;
  border-radius: 23px;
  color: white;
  font-size: 16px;
  font-family: "Rethink Sans Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 62px;
}

#map {
  width: 90%;
  height: 60dvh;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 42px;
}
