#first,
#second {
    color: white;
    font-size: 32px;
    font-family: "Rethink Sans Regular";
    text-align: center;
}

#first {
    margin-top: 180px;
}

#letsGoButton {
    height: 40px;
    width: 124px;
    border-radius: 23px;
    color: white;
    background-color: var(--purple);
    border: none;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Rethink Sans Regular";
}