@media only screen and (max-device-width: 500px) {
    #wrapper {
        width: 100%;
        height: 100vh;
        background-color: var(--background);

    }

    #logInContainer {
        margin-left: 20px;
        padding-top: 100px;
    }

    #logInTextContainer>p:first-child,
    #logInTextContainer>p:last-child,
    #userNameContainerLogin>p,

    {
    color: white;
    font-family: "Rethink Sans Regular";
}

#logInTextContainer>p:first-child {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

#logInTextContainer>p:last-child {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}

#createAccountLink {
    text-decoration: underline;
}

#userNameContainerLogin>p {
    font-size: 14px;
    font-weight: 500;
}
}