.requestContainer {
    width: 95%;
    margin: auto;
    background-color: var(--card-background);
    height: 150px;
    border-radius: 25px;
}

#title {
    font-size: 16px;
    color: white;
    font-family: "Rethink Sans Regular";
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 52px;
}

.gameRequestName {
    font-size: 20px;
    color: white;
    font-family: "Rethink Sans Regular";
    margin-bottom: 14px;
    margin-left: 20px;
    padding-top: 20px;
}

.peopleAndCreator {
    display: flex;
    gap: 20px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 27px;
}

.people {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.peopleNumber {
    margin: 0;
    font-size: 12px;
    font-family: "Rethink Sans Regular";

}

.creator {
    margin: 0;
    font-size: 14px;
    font-family: "Rethink Sans Regular";
    color: var(--icons);
}

.removeButton {
    width: 85px;
    height: 28px;
    border-radius: 7px;
    border: none;
    background-color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-family: "Rethink Sans Regular";
}

.removeAndApprove {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.approveButton {
    width: 85px;
    height: 28px;
    border-radius: 7px;
    border: none;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-family: "Rethink Sans Regular";
}