<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotYa</title>
    <link rel="stylesheet" href="../game/confirmPhoto.css">
    <link rel="stylesheet" href="../game/guessMap.css">
    <link rel="stylesheet" href="../game/preGame.css">
    <link rel="stylesheet" href="../game/previewPhoto.css">
    <link rel="stylesheet" href="../game/takePhoto.css">
    <link rel="stylesheet" href="../gameList/gameList.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../navbar/navbar.css">
    <link rel="stylesheet" href="../profile/profile.css">
    <link rel="stylesheet" href="../ranking/finishedRanking.css">
    <link rel="stylesheet" href="../ranking/ranking.css">
</head>

<body>

    <div id="wrapper"></div>

    <script src="../game/confirmPhoto.js"></script>
    <script src="../game/guessMap.js"></script>
    <script src="../game/preGame.js"></script>
    <script src="../game/previewPhoto.js"></script>
    <script src="../game/takePhoto.js"></script>
    <script src="../gameList/gameList.js"></script>
    <script src="../header/header.js"></script>
    <script src="../navbar/navbar.js"></script>
    <script src="../profile/profile.js"></script>
    <script src="../ranking/finishedRanking.js"></script>
    <script src="../ranking/ranking.js"></script>
</body>

</html>