#headerContainer {
    display: flex;
    padding-top: 30px;
    position: relative;
}

#name {
    color: white;
    margin-top: 0;
    font-size: 20px;
    font-family: "Rethink Sans Regular";
    margin: auto;
}

#back {
    position: absolute;
    left: 20px;
}